.nav-bar-title {
  align-items: center;
  display: flex;
}

.logo {
  height: 30px !important;
}

.action .item {
  background-color: #fff !important;
  border-color: #ffdbf9 !important;
  color: #883b7a !important;
}

.home-hero {
  background: rgb(209, 70, 57);
  background: linear-gradient(
    45deg,
    rgba(209, 70, 57, 1) 0%,
    rgba(148, 107, 237, 1) 100%
  );
  box-shadow: inset 0 0 20px rgb(0 0 0 / 10%);
  color: #fff !important;
  margin: 0 !important;
  padding: 3.5rem 1.5rem 3.75rem !important;
}

.home-hero .description {
  color: #ffdbf9 !important;
}

.home-hero .tagline {
  color: #f8dce7 !important;
}

@media (min-width: 420px) {
  .home-hero {
    padding-bottom: 5.5rem !important;
    padding-top: 5.5rem !important;
  }
}

@media (min-width: 720px) {
  .home-hero {
    padding-bottom: 7.25rem !important;
    padding-top: 7rem !important;
  }
}
